#define myfont FantasqueSansMono Nerd Font Mono
#define fontsize 14


! URxvt Font
URxvt*font: xft:myfont:style=Regular:size=fontsize
URxvt*boldFont: xft:myfont:style=Bold:size=fontsize
URxvt*italicFont: xft:myfont:style=Italic:size=fontsize

! Rofi
rofi.font: myfont fontsize

! Scroll
*.scrollBar: False

! Pointer
Xcursor.size: 12
*.pointerBlank: True

! Spacing
*.internalBorder: 25
*.lineSpace: 5

! X colors.
! Colors 0-15.
! special
URxvt*background:   [100]#0d0d0d
URxvt*borderColor:  [100]#0d0d0d

! Base
*background: #24273A
! Text
*foreground: #CAD3F5

! black
! Surface1
*color0: #494D64
! Surface2
*color8: #5B6078

! red
! Red
*color1: #ED8796
*color9: #ED8796

! green
! Green
*color2: #A6DA95
*color10: #A6DA95

! yellow
! Yellow
*color3: #EED49F
*color11: #EED49F

! blue
! BLue
*color4: #8AADF4
*color12: #8AADF4

! magenta
! Pink
*color5: #F5BDE6
*color13: #F5BDE6

! cyan
! Teal
*color6: #8BD5CA
*color14: #8BD5CA

! white
! Subtext1
*color7: #B8C0E0
! Subtext0
*color15: #A5ADCB

*mantle: #1e2030
*crust: #181926

! Xclock colors.
XClock*foreground: #f2dfff
XClock*background: #0e0b04
XClock*majorColor:  rgba:f2/df/ff/ff
XClock*minorColor:  rgba:f2/df/ff/ff
XClock*hourColor:   rgba:f2/df/ff/ff
XClock*minuteColor: rgba:f2/df/ff/ff
XClock*secondColor: rgba:f2/df/ff/ff

! Set depth to make transparency work.
URxvt*depth: 32
