#define myfont FantasqueSansMono Nerd Font Mono
#define fontsize 14


! URxvt Font
URxvt*font: xft:myfont:style=Regular:size=fontsize
URxvt*boldFont: xft:myfont:style=Bold:size=fontsize
URxvt*italicFont: xft:myfont:style=Italic:size=fontsize

! Rofi
rofi.font: myfont fontsize

! Scroll
*.scrollBar: False

! Pointer
Xcursor.size: 12
*.pointerBlank: True

! Spacing
*.internalBorder: 25
*.lineSpace: 5

! X colors.
! Colors 0-15.
! special
*.foreground:   #f2dfff
*.background:   #0d0d0d
*.cursorColor:  #f2dfff
URxvt*background:   [100]#0d0d0d
URxvt*borderColor:  [100]#0d0d0d

! black
*.color0:       #171812
*.color8:       #8b8a8d

! red
*.color1:       #20211a
*.color9:       #625559

! green
*.color2:       #313229
*.color10:      #a52c29

! yellow
*.color3:       #484a3d
*.color11:      #8d7d83

! blue
*.color4:       #656857
*.color12:      #f55a28

! magenta
*.color5:       #888d76
*.color13:      #8c4e5b

! cyan
*.color6:       #b1b699
*.color14:      #dd2d2a

! white
*.color7:       #e0e6c2
*.color15:      #c7c6ca


! Black color that will not be affected by bold highlighting.
*.color66: #0e0b04
*color66:  #0e0b04

! Xclock colors.
XClock*foreground: #f2dfff
XClock*background: #0e0b04
XClock*majorColor:  rgba:f2/df/ff/ff
XClock*minorColor:  rgba:f2/df/ff/ff
XClock*hourColor:   rgba:f2/df/ff/ff
XClock*minuteColor: rgba:f2/df/ff/ff
XClock*secondColor: rgba:f2/df/ff/ff

! Set depth to make transparency work.
URxvt*depth: 32
